/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 104, icons/*.png */
.icons-sprite, .icons-delicious, .icons-facebook, .icons-flickr, .icons-twitter {
  background-image: url('/app_graphics/icons-sfc9b1c075a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delicious {
  background-position: 0 0;
}
/* line 59, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delicious:hover, .icons-delicious.delicious-hover {
  background-position: 0 -48px;
}

/* line 84, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -96px;
}
/* line 59, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook-hover {
  background-position: 0 -144px;
}

/* line 84, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flickr {
  background-position: 0 -192px;
}
/* line 59, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flickr:hover, .icons-flickr.flickr-hover {
  background-position: 0 -240px;
}

/* line 84, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -288px;
}
/* line 59, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter-hover {
  background-position: 0 -336px;
}

/* line 1, ../app_sass/_main.scss */
body {
  max-width: initial;
}

/* line 4, ../app_sass/_main.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

/* line 44, ../app_sass/_main.scss */
.container {
  display: none;
}
/* line 46, ../app_sass/_main.scss */
.container:nth-of-type(1) {
  display: block;
}

/* line 50, ../app_sass/_main.scss */
body {
  background: #ffd464;
  color: #333332;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}
/* line 12, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 56, ../app_sass/_main.scss */
a {
  color: #1352a2;
}

/* line 62, ../app_sass/_main.scss */
h1,
h2,
h3 {
  display: inline-block;
  width: 100%;
}

/* line 68, ../app_sass/_main.scss */
h1 {
  line-height: 1em;
}

/* line 71, ../app_sass/_main.scss */
nav {
  background: #f0f1ee;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 2em 1em 2em 1em;
}
/* line 75, ../app_sass/_main.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li.last {
  padding-right: 0;
}
/* line 77, ../app_sass/_main.scss */
nav ul li {
  margin: 0 2em 0 0;
}
/* line 80, ../app_sass/_main.scss */
nav ul .link, nav ul .transition .example, .transition nav ul .example {
  color: #333332;
  text-decoration: none;
  font-weight: 700;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 87, ../app_sass/_main.scss */
nav ul .link:hover, nav ul .transition .example:hover, .transition nav ul .example:hover {
  color: #838382;
}

/* line 93, ../app_sass/_main.scss */
header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
}

/* line 98, ../app_sass/_main.scss */
section {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* aside {
    @include span(4 at 9 of 12);
    background: $grey;
    padding: $padding;
    height: 900px;
} */
/* line 107, ../app_sass/_main.scss */
article {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fb6964;
  color: #333332;
  padding: 1em;
}
/* line 112, ../app_sass/_main.scss */
article:nth-child(even) {
  background: #1352a2;
  color: #f0f1ee;
}
/* line 115, ../app_sass/_main.scss */
article:nth-child(even) a {
  color: #fff;
}
/* line 119, ../app_sass/_main.scss */
article .example {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #333332;
  background: #c5cbd3;
  font-weight: 700;
  color: #333332;
  float: left;
}
/* line 129, ../app_sass/_main.scss */
article p {
  display: inline-block;
  width: 100%;
}
/* line 133, ../app_sass/_main.scss */
article > :first-child {
  margin-top: 1.33333em;
}

/* line 137, ../app_sass/_main.scss */
article pre.prettyprint {
  width: 100%;
  background: #333332;
  float: left;
}

/* line 142, ../app_sass/_main.scss */
.gradient .example {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1Y2JkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxNjc2ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5cbd3), color-stop(100%, #61676f));
  background-image: -moz-linear-gradient(#c5cbd3, #61676f);
  background-image: -webkit-linear-gradient(#c5cbd3, #61676f);
  background-image: linear-gradient(#c5cbd3, #61676f);
}

/* line 145, ../app_sass/_main.scss */
.border-radius .example {
  border: 1px solid #333332;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 149, ../app_sass/_main.scss */
.transition .example {
  cursor: pointer;
}

/* line 153, ../app_sass/_main.scss */
.lists ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.lists ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.lists ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.lists ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.lists ul li.last {
  padding-right: 0;
}
/* line 155, ../app_sass/_main.scss */
.lists ul a {
  display: block;
  width: 48px;
  height: 48px;
}

/* line 161, ../app_sass/_main.scss */
.paragraph-one {
  margin-top: 1.33333em;
}

/* line 164, ../app_sass/_main.scss */
.paragraph-two {
  border-width: 0.11111em;
  border-style: dashed;
  padding: 1.22222em;
}

/* line 167, ../app_sass/_main.scss */
.paragraph-three {
  font-size: 1.11111em;
  line-height: 1.2em;
}

/* line 170, ../app_sass/_main.scss */
.paragraph-four {
  margin-bottom: 1.33333em;
}

/* line 176, ../app_sass/_main.scss */
.skillset ul {
  margin: 0;
}
/* line 178, ../app_sass/_main.scss */
.skillset ul:last-child {
  margin-bottom: 1.33333em;
}

/* line 1, ../app_sass/_social-icons.scss */
.container {
  background: #0093ff;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
}

/* line 275, ../app_sass/_social-icons.scss */
.facebook {
  position: relative;
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 5%;
  background: #3b5998;
  overflow: hidden;
}
/* line 16, ../app_sass/_social-icons.scss */
.facebook:before {
  content: "";
  position: absolute;
  background: #3b5998;
  width: 112.0%;
  height: 106%;
  top: 15%;
  left: 53.4%;
  border-radius: 17%;
  background: #fff;
  z-index: 1;
}
/* line 28, ../app_sass/_social-icons.scss */
.facebook:after {
  content: "";
  position: absolute;
  width: 6em;
  top: 0;
  height: 6em;
  background: #3b5998;
  right: 59%;
  width: 500px;
  z-index: 1;
}
/* line 39, ../app_sass/_social-icons.scss */
.facebook div {
  top: 0;
  left: 0;
  width: 6em;
  height: 6em;
  background: #3b5998;
  content: "";
  position: absolute;
  left: 84.8%;
  z-index: 1;
}
/* line 50, ../app_sass/_social-icons.scss */
.facebook div:before {
  background: #fff;
  content: "";
  position: absolute;
  width: 43.8%;
  top: 46.2%;
  z-index: 2;
  height: 15%;
  right: 101.2%;
  -moz-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  -webkit-transform: skew(-8deg);
  transform: skew(-8deg);
}
/* line 61, ../app_sass/_social-icons.scss */
.facebook div:after {
  content: "";
  position: absolute;
  background: #3b5998;
  height: 6em;
  right: 4.6%;
  width: 112.0%;
  top: 29.4%;
  border-radius: 5%;
  z-index: 1;
}

/* line 278, ../app_sass/_social-icons.scss */
.twitter {
  width: 4em;
  height: 4em;
  overflow: hidden;
  background: #2daae1;
  border-radius: 5%;
  position: relative;
}
/* line 81, ../app_sass/_social-icons.scss */
.twitter:before, .twitter:after, .twitter > div, .twitter > div:before, .twitter > div:after {
  content: "";
  background: #fff;
  border-radius: 50%;
  position: absolute;
}
/* line 91, ../app_sass/_social-icons.scss */
.twitter:before {
  top: -0.6%;
  left: -4.6%;
  width: 83.4%;
  height: 80%;
}
/* line 97, ../app_sass/_social-icons.scss */
.twitter :nth-child(1) {
  top: 15%;
  left: -11.4%;
  width: 58.0%;
  height: 58.0%;
  background: #2daae1;
}
/* line 103, ../app_sass/_social-icons.scss */
.twitter :nth-child(1):before {
  top: 37.24138%;
  left: 56.55172%;
  width: 51.72414%;
  height: 51.72414%;
}
/* line 109, ../app_sass/_social-icons.scss */
.twitter :nth-child(1):after {
  top: -7.58621%;
  left: 20.68966%;
  width: 79.31034%;
  height: 79.31034%;
  background: #2daae1;
}
/* line 117, ../app_sass/_social-icons.scss */
.twitter :nth-child(2) {
  top: 26.4%;
  left: 16.8%;
  width: 30%;
  height: 30%;
  background: #fff;
}
/* line 123, ../app_sass/_social-icons.scss */
.twitter :nth-child(2):before {
  top: -128.66667%;
  left: -56.0%;
  width: 186.66667%;
  height: 186.66667%;
  background: #2daae1;
}
/* line 130, ../app_sass/_social-icons.scss */
.twitter :nth-child(2):after {
  top: -34.66667%;
  left: 0.66667%;
  width: 100%;
  height: 100%;
}
/* line 137, ../app_sass/_social-icons.scss */
.twitter :nth-child(3) {
  top: 16%;
  left: 17%;
  width: 30%;
  height: 30%;
  background: #fff;
}
/* line 143, ../app_sass/_social-icons.scss */
.twitter :nth-child(3):before {
  top: -209.33333%;
  left: -26.66667%;
  width: 286.66667%;
  height: 286.66667%;
  background: #2daae1;
}
/* line 150, ../app_sass/_social-icons.scss */
.twitter :nth-child(3):after {
  top: 16.66667%;
  left: 107.33333%;
  width: 98.66667%;
  height: 98.66667%;
  background: #fff;
  z-index: 1;
}
/* line 159, ../app_sass/_social-icons.scss */
.twitter :nth-child(4) {
  top: 0.2%;
  left: 58.4%;
  width: 30%;
  height: 36%;
}
/* line 164, ../app_sass/_social-icons.scss */
.twitter :nth-child(4):before {
  top: -17.22222%;
  left: 11.33333%;
  width: 108%;
  height: 100%;
  background: #2daae1;
}
/* line 171, ../app_sass/_social-icons.scss */
.twitter :nth-child(4):after {
  top: -11.11111%;
  left: -9.33333%;
  width: 100%;
  height: 100%;
  background: #fff;
}
/* line 179, ../app_sass/_social-icons.scss */
.twitter:after {
  top: -49.6%;
  left: 28.6%;
  width: 76%;
  height: 76%;
  background: #2daae1;
}

/* line 281, ../app_sass/_social-icons.scss */
.google-plus {
  width: 3em;
  height: 3em;
  overflow: hidden;
  background: #dc4a37;
  border-radius: 5%;
  position: relative;
}
/* line 195, ../app_sass/_social-icons.scss */
.google-plus:before, .google-plus:after, .google-plus > div:before, .google-plus > div:after, .google-plus > div {
  content: "";
  background: #fff;
  border-radius: 50%;
  position: absolute;
}
/* line 205, ../app_sass/_social-icons.scss */
.google-plus:before {
  width: 34.6%;
  height: 29.8%;
  top: 17%;
  left: 22.4%;
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
}
/* line 212, ../app_sass/_social-icons.scss */
.google-plus .bottom-white-circle {
  width: 41.4%;
  height: 27%;
  top: 56.6%;
  left: 18%;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
/* line 218, ../app_sass/_social-icons.scss */
.google-plus .bottom-white-circle:before {
  background: #dc4a37;
  width: 66.66667%;
  height: 70.37037%;
  left: 19.80676%;
  top: 13.33333%;
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  transform: rotate(9deg);
}
/* line 226, ../app_sass/_social-icons.scss */
.google-plus .bottom-white-circle:after {
  background: #dc4a37;
  width: 53.1401%;
  height: 69.62963%;
  left: 34.78261%;
  top: -125.18519%;
  -moz-transform: rotate(79deg);
  -ms-transform: rotate(79deg);
  -webkit-transform: rotate(79deg);
  transform: rotate(79deg);
}
/* line 235, ../app_sass/_social-icons.scss */
.google-plus .white-middle-circle {
  background: #fff;
  width: 21%;
  height: 16.2%;
  top: 43%;
  left: 39%;
}
/* line 241, ../app_sass/_social-icons.scss */
.google-plus .white-middle-circle:before {
  background: #dc4a37;
  width: 91.42857%;
  height: 127.16049%;
  left: 40.95238%;
  top: -16.04938%;
  -moz-transform: rotate(-19deg);
  -ms-transform: rotate(-19deg);
  -webkit-transform: rotate(-19deg);
  transform: rotate(-19deg);
}
/* line 249, ../app_sass/_social-icons.scss */
.google-plus .white-middle-circle:after {
  width: 104.7619%;
  height: 25.92593%;
  left: 107.61905%;
  top: 9.87654%;
  border-radius: 0;
}
/* line 257, ../app_sass/_social-icons.scss */
.google-plus .top-line {
  width: 22%;
  height: 4%;
  left: 61.4%;
  top: 44.6%;
  border-radius: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 265, ../app_sass/_social-icons.scss */
.google-plus:after {
  width: 20%;
  height: 3.4%;
  left: 38.4%;
  top: 16.8%;
  border-radius: 0;
  -moz-transform: skew(-55deg) rotate(180deg);
  -ms-transform: skew(-55deg) rotate(180deg);
  -webkit-transform: skew(-55deg) rotate(180deg);
  transform: skew(-55deg) rotate(180deg);
}

/* line 287, ../app_sass/_social-icons.scss */
.dummy {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 500px;
  height: 500px;
  background-size: 500px;
  opacity: .5;
  pointer-events: none;
}

/* line 1, ../app_sass/_youapprove.scss */
.paging-button {
  visibility: hidden;
}

/* line 5, ../app_sass/_youapprove.scss */
.button-container {
  clear: both;
}

/*# sourceMappingURL=screen.css.map */
