// Generic
body {
    font-family: $helvetica;
    font-weight: $normal;
    color: $off-black;
    background-image: url(../app_graphics/bg.jpg);
    background-position: center top;
    background-repeat: repeat;
    background-size: 1692px 1649px;
    background-color: $dark-brown;
}
h1,
h2,
h3,
h4,
h5,
.title-text {
    font-family: $bourbon;
    @include adjust-font-size-to(32px);
    @include rhythm;
}
 
p {
    @include trailer;
}

.container {
    @include container($xl-container);
    background: $off-black;
}

.btn {
    background: $gold;
    @include border-radius(8px);
    display: block;
    float: left;
    padding: .6em 4em .6em 1em;
    @include adjust-font-size-to(22px);
    color: $off-black;
    font-family: $bourbon;
    text-decoration: none;
    position: relative;
    @include leader;
    @include trailer;
    @include susy-breakpoint($lg-breakpoint) {
        @include adjust-font-size-to(20px);
        text-align: left;
    }
    &:after {
        content: "";
        position: absolute;
        top: 18px;
        right: 16px;
        width: 28px;
        height: 19px;
        background: url(../app_graphics/arrow.svg) top left / contain no-repeat ;
    }
    @include transition(opacity, $subtle-transition ease-out);
    &:hover {
        background: $gold-dark; 
    }
}

// Main Header and Navigation
.main-header {
    @include span(24 of 24);
    background-image: url(../app_graphics/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 60px;
    position: relative;
    z-index: $main-header;
    @include susy-breakpoint($sm-breakpoint) {
        background-size: 100% 150%;
        padding-bottom: 23%;
    }
}

.logo {
    width: 384px;
    display: block;
    margin: 0 auto;
    @include leader;
    @include susy-breakpoint($sm-breakpoint) {
        max-width: 80%;
    }
}

.menu {
    font-family: $bourbon;
    @include leader;
    @include adjust-font-size-to(32px);
    @include container($xl-container);
    text-align: center;
    @include susy-breakpoint($sm-breakpoint) {
        display: none;
    }
    ul {
        list-style: none;
        li { 
            margin-right: 40px; 
            position: relative;
            display: inline;
            &:hover:before {
                opacity: 1;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                @include transition(all, $subtle-transition ease-in-out);
                color: $off-black;
                text-decoration: none;
            }
            .active a,
            &:hover a {
                color: $gold;
            }
        }
    }
}

// Layout
.content-container {
    @include span (23 of 24);
    @include push(.5);
}
.box {
    @include span (12 of 24);
    background: $white;
    padding: 1em;
    @include trailer;
    @include susy-breakpoint($md-breakpoint) {
        @include span(24 of 24);
    }
    &:nth-child(even) {
        @include last;
    }
    h1 {
        margin: 0;
        font-family: $bourbon-oblique;
        @include trailer;
        span {
            color: $gold;
        }
    }
    .btn {
        @include box-shadow(3px 3px 0 0 $gold-dark);
    }
}
.gold-box {
    background: $gold;
    h1 {
        span {
            color: $yellow;
        }
    }
}
.skyscrapers {
    @include span(3 of 24);
    &:last-child {
        @include last;
    }
    @include susy-breakpoint($xl-breakpoint) {
        display: none;
    }
}
.central-wrapper {
    @include span(18 of 24);
    @include susy-breakpoint($xl-breakpoint) {
        @include span(24 of 24);
    }
}

// Slider
.slider-container {
    @include span (24 of 24);
    font-family: $helvetica-neue-bold;
    @include trailing-border($gold-border-width);
    @include trailer();
    padding-bottom: 0;
    border-color: $gold;
    margin-top: -81px;
    .slick-slide {
        overflow: hidden;
    }
    .slider-copy {
        @include span(8 of 24);
        @include push(2);
        padding-top: 60px;
        @include susy-breakpoint($lg-breakpoint) {
            @include span(11 of 24);
            @include push(1);
        }
        @include susy-breakpoint($md-breakpoint) {
            text-align: center;
            @include span(24 of 24);
            padding-top: 72px;
        }
        img {
            display: none;
            @include susy-breakpoint($md-breakpoint) {
                display: block;
                width: 100%;
            }
        }
        h1 {
            @include adjust-font-size-to(62px);
            text-transform: uppercase;
            color: $white;
            font-family: $helvetica-neue-bold;
            @include susy-breakpoint($lg-breakpoint) {
                @include adjust-font-size-to(45px);
            }
            @include susy-breakpoint($md-breakpoint) {
                text-align: center;
                @include span(22 of 24);
                @include push(.5);
            }
        }
        p {
            @include adjust-font-size-to(25px);
            @include rhythm;
            color: $yellow;
            padding-bottom: 70px;
            @include susy-breakpoint($md-breakpoint) {
                text-align: center;
                @include span(22 of 24);
                @include push(.5);
            }
        }
        .btn {
            @include susy-breakpoint($md-breakpoint) {
                display: none;
            }
        }
    }
    .slider-img {
        @include span(12 of 24 last);
        @include push(2);
        position: relative;
        @include susy-breakpoint($lg-breakpoint) {
            @include span(12 of 24 last);
            @include pull(2);
        }
        @include susy-breakpoint($md-breakpoint) {
            display: none;
        }
        img {
            min-height: 407px; 
        }
    }
}
.slider-btn-md {
    display: none;
    @include susy-breakpoint($md-breakpoint) {
        margin-top: -98px;
        display: block;
        @include span(23 of 24);
        @include push(.5);
        padding: .6em 1em .6em 1em;
    }
}
.slick-slider button {
    border: none;
    background: $white;
    @include border-radius(50%);
    width: 24px;
    height: 24px;
    @include opacity(.5);
    position: relative;
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    left: 1%;
    cursor: pointer;
    outline: none;
    @include transform(translateY(-50%));
    &:before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 9px 6px 0;
        border-color: transparent $black transparent transparent;
    }
    &.slick-next {
        left: 100%;
        margin-left: -28px;
        &:before {
            left: 9px;
            border-width: 6px 0 6px 9px;
            border-color: transparent transparent transparent $black;
        }
    }
}
.slick-dots {
    position: absolute;
    bottom: 30px;
    right: 30px;
    @include horizontal-list;
    outline: none;
    button {
        background: $white;
        @include border-radius(50%);
        border: none;
        width: 20px;
        height: 20px;
        text-indent: -9999em;
        @include transition(opacity, $subtle-transition ease-in-out);
        cursor: pointer;
    }
    .slick-active {
        button {
            background: $gold;
        }
    }
}

// Best Offers
.best-offers {
    ol {
        padding-left: 2em;
        counter-reset: li-counter;
    }
    li {
        @include trailer;
        position: relative;
        padding-left: 0.5em;
        display: block;
        height: 75px;
        background: green;
        width: 100%;
        font-family: $bourbon-oblique;
        color: $white;
        background-position: 20px center;
        background-repeat: no-repeat;
        @include adjust-font-size-to(42px);
        @include text-shadow(rgba($black, 0.2) 4px 4px 3px);
        @include box-shadow(4px 4px  3px rgba($black, 0.2));
        @include rotateX(-2deg, 100px);
        @include transform-origin(left, top);
        @include susy-breakpoint($sm-breakpoint) {
            @include adjust-font-size-to(32px);
            background-size: 100px;
            height: 60px;
        }
        &:before {
            position: absolute;
            top: 46%;
            @include transform(translateY(-50%));
            left: -.9em;   
            text-align: right;
            content: counter(li-counter);
            counter-increment: li-counter;
        }
        &.williamhill {
            background-color: #022c45;
            background-image: url(../app_graphics/williamhill.png);
        }
        &.betvictor {
            background-color: #000000;
            background-image: url(../app_graphics/betvictor.png);
        }
        &.bet365 {
            background-color: #017b5b;
            background-image: url(../app_graphics/bet365.png);
        }
        &.betfred {
            background-color: #020a47;
            background-image: url(../app_graphics/betfred.png);
        }
        &.betfair {
            background-color: #f8b334;
            background-image: url(../app_graphics/betfair.png);
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        position: absolute;
        top: 0;
        padding-right: 0.5em;
        width: 100%;
        text-align: right;
        height: 100%;
        line-height: 70px;
        left: 0;
        @include transform(skew(5deg)); // Compensates for 3d transform to wrapper
        @include susy-breakpoint($sm-breakpoint) {
            line-height: 55px;
        }
    }
}

// Marquee
.marquee {
    background: $light-grey;
    overflow: hidden;
    @include trailing-border($gold-border-width);
    @include leading-border($gold-border-width);
    @include leader();
    @include trailer();
    padding-bottom: 0;
    border-color: $gold;
    @include span(24 of 24);
    padding-top: 0;
    .tweet-wrapper {
        float: left;
        display: block;
        width: 430px;
        padding-right: 1em;
        padding-left: 1em;
        @include transform(skew(-5deg));
        @include box-shadow(-5px 0 10px 0 rgba($black, 0.2));
        @include rhythm-padding(1);
        &:nth-child(odd) {
            background: $white;
        }
        span {
            width: 400px;
            display: block;
            font-family: $bourbon;
            @include transform(skew(5deg));
            display: inline-block;
            float: left;
            &.twitter-user {
                @include adjust-font-size-to(23px);
                color: $gold;
                width: auto;
            }
            &.twitter-time {
                @include adjust-font-size-to(14px);
                color: $gold;
                width: auto;
                float: right;
                margin-right: .5em;
                margin-top: 6px;
            }
            &.twitter-msg {
                margin-left: 5px;
            }
        }
        > div {
            @include transform(skew(0));
        }
    }
}
.js-marquee {
    margin-right: 0 !important; // Required to overwrite JS inline style
}

// Meet Our Tipsters
.meet-our-tipsters {
    @include span(24 of 24);
    padding: 0;
    background: transparent;
    h1 {
        color: $white;
        text-align: center;
        span {
            color: $yellow;
        }
    }
    .slick-list {
        padding-bottom: 5px;
    }
    .slick-slider button {
        top: 40%;
        &.slick-prev {
            left: -1%;
        }
        &.slick-next {
            left: 102%;
        }
    }
    .slick-slide {
        width: 24%;
        margin: 0 .5%;
        .tipster-img-wrapper {
            overflow: hidden;
            @include transform(skew(-1deg));
            @include box-shadow(4px 3px 0 0 $gold-dark);
            @include backface-visibility(hidden);
        }
        @include susy-breakpoint($md-breakpoint) {
            width: 32%;
            margin: 0 .5%;
        }
        @include susy-breakpoint($sm-breakpoint) {
            width: 49%;
        }
        img {
            width: 106%;
            @include transform(skew(1deg));
            margin-left: -3%;
        }
        span {
            color: $white;
            font-family: $bourbon-oblique;
            padding-top: .25em;
            text-align: center;
            width: 100%;
            @include adjust-font-size-to(28px);
            display: inline-block;
            @include trailer;
            span {
                display: inline;
                color: $yellow;
            }
        }
    }
    .btn {
        @include span(12 of 24);
        &:last-child {
            @include last;
        }
        @include susy-breakpoint($md-breakpoint) {
            @include span(24 of 24);
        }
    }
}

.site-footer {
    @include span(24 of 24);
    @include leading-border(15px);
    @include leader();
    background-color: $white;
    padding-bottom: 0;
    border-color: $gold;
    @include adjust-font-size-to(12px);
    font-weight: 700;
    @include susy-breakpoint($md-breakpoint) {
        @include rotate(180deg);
        border: none;
        background-image: url(../app_graphics/header-bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-color: transparent;
        padding-bottom: 0;
        padding-top: 15px;
        position: relative;
        z-index: $main-header;
        background-size: 100% 300%;
        height: 100px;
    }
    > div {
        position: relative;
        @include span(23 of 24);
        @include push(.5);
    }
    ul {
        @include leader();
        @include trailer();
        float: left;
        @include susy-breakpoint($md-breakpoint) {
            display: none;
        }
        &:last-child {
            float: right;
            text-align: right;
        }
    }
    li,
    a {
        color: $black;
        text-decoration: none;
    }
    .small-logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        @include transform(translateY(-50%) translateX(-50%));
        @include susy-breakpoint($md-breakpoint) {
            @include transform(translateY(-50%) translateX(-50%) rotate(180deg));
        }
    }
}

// Useful stuff
/*@include susy-breakpoint($lg-breakpoint) {
    display: block;
}
@include transition(opacity, $subtle-transition ease-out);
@include transform(translateX(-50%));
@include container($xl-container);
@include span(12 of 24);*/
 

// Container Breakpoints   
.container {
    @include container($xl-container);
    @include susy-breakpoint($xl-breakpoint) {
        @include container($lg-container);
    }
    @include susy-breakpoint($lg-breakpoint) {
        @include container($md-container);
    }
    @include susy-breakpoint($md-breakpoint) {
        @include container($sm-container);
    }
}