// Vertical Rhythm
@include establish-baseline;
$base-font-size: 16px;
$base-line-height: 19px;
$round-to-nearest-half-line: true;
$rhythm-unit: 'rem';

// Colour Scheme
$white: #fff;
$black: #000;
$off-black: #1b1b1f;
$gold: #81804b;
$gold-dark: darken($gold, 5%);
$yellow: #ffdd3d;
$dark-brown: #100C09;
$light-grey: #e8e8e8;

// Gradients
// $colour-to-right: linear-gradient(to right, $colour, $colour-2);

// Fonts
$helvetica: Helvetica, Arial, sans-serif;
$helvetica-neue-bold: 'HelveticaNeueW01-77BdCn_692722', Helvetica, Arial, sans-serif;
$bourbon: 'Bourbon W00 Regular', Helvetica, Arial, sans-serif;
$bourbon-oblique: 'Bourbon W00 Oblique', Helvetica, Arial, sans-serif;
$light: 300;
$normal: 400;
$regular: 500;
$bold: 700;

// Animations
$subtle-transition: .2s;

// Containers and Breakpoints
$xl-breakpoint: max-width 1199px; // Default
$lg-breakpoint: max-width 992px;
$md-breakpoint: max-width 767px;
$sm-breakpoint: max-width 480px;

$xl-container: 1170px;
$lg-container: 970px;
$md-container: 750px;
$sm-container: 100%;

// Z-index
$main-header: 1;
$mobile-menu-inactive: -1;
$mobile-menu-active: 0;

// Misc
$gold-border-width: 8px;