// Screen
// ======


@import "compass";
@import "compass/reset";
@import "susy";

@import "custom-fixes";

// Configuring Susy Defaults
$susy: (
    global-box-sizing: border-box,
    columns: 24,
    gutters: .75,
    //debug: (image: show),
    use-custom: (rem: true)
);

@include border-box-sizing;

@import "fonts";
@import "variables";
@import "icons";
@import "main";
@import "mobile-menu";